* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
}

.winter-image {
  background-image: url(./assets/snow-house.jpg);
  height: 100vh;
  width: 30vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main {
  background-color: whitesmoke;
  width: 70vw;
}
