*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
}
aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slogan {
  font-size: 3rem;
  background-color: rgba(0, 0, 0, 0.5);
  height: 10vh;
  width: 100%;
  color: white;
  border: solid black 0.5px;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.credit-photo {
  font-size: 1.5rem;
  margin-top: auto;
}
.winter-image {
  background-image: url(./assets/snow-house.jpg);
  height: 100vh;
  width: 30vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main {
  background-color: rgb(230, 230, 230);
  width: 70vw;
  display: flex;
  flex-direction: column;
  /* gap: 50px; */
}
.main-intro {
  height: 30%;
  border: solid black 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container {
  height: 40%;
  border: solid green 3px;
  background-color: white;
}
.sign-up {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
  border: solid orange 2px;
}
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"] {
  padding: 5px;
  border: 0;
  border-bottom: solid black 1px;
  font-size: 1.3rem;
}
input[type="text"]:hover,
input[type="tel"]:hover,
input[type="email"]:hover,
input[type="password"]:hover {
  border-bottom: 1px solid rgb(0, 153, 255);
}
input:focus,
input:active {
  outline: 0;
  border-bottom: 2px solid rgb(0, 153, 255);
}
.form-inputs {
  margin: 5px;
}
